{
  "plugins": [
    "syntax-async-generators"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": 69,
          "chrome": 72
        }
      }
    ]
  ]
}
