/vendor
/node_modules
/package-lock.json
/firefox
/cache
/build
/npm-debug.log
/yarn-error.log
/crowdin.yml
.connect-deps*
.*~
/add-on/dist
/add-on/webui/
/add-on/ui-kit/
/coverage
/.nyc_output
/add-on/manifest.json
