@import url('node_modules/tachyons/css/tachyons.css');

html, body {
  height: 100%;
}

svg {
  fill: currentColor;
}

.hover-bg-white-o-005:hover, .hover-bg-white-o-005:focus {
  background-color: rgba(255, 255, 255, 0.05);
}
