
body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
}
.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning {
  height: 200px;
}