@import url('../../../ui-kit/tachyons.css');
@import url('../../../ui-kit/ipfs.css');

#hero {
  background-image: url('../../../images/stars.png'), linear-gradient(to bottom, #041727 0%, #043b55 100%);
  background-size: 100%;
  background-repeat: repeat;
}

.underline-under {
  text-decoration: underline;
  text-underline-position: under;
}

.state-unknown {
  opacity: 0;
  filter: blur( .15em );
}
