body {
    margin: 0.25rem;
    min-width: 300px;
}
p > img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.25rem;
}

li {
    padding: 0.5rem;
    cursor: default;
    display:block;
    max-height:2rem;
    text-overflow: ellipsis;
    overflow: auto;
}
li.header {
    font-weight: bold;
}
li.action {
    color: #222;
    background: rgba(238, 238, 238, 0.5);
    cursor: pointer;
}

li.action:hover {
    background: rgba(133, 222, 222, 0.75);
    color: #000;
}

li.action:active {
    background: rgba(74, 158, 161, 0.8);
    color: #fff;
}

#gateway-status {
    padding: 0.5rem;
    min-height: 3em;
    margin-right: 6rem;
}
#gateway-status > li {
    font-variant: small-caps;
    padding: 0;
}
#gateway-status > li > span:nth-of-type(2) {
    display: inline-block;
    float: right;
    padding-left: 1rem;
}

#operations > li  {
    text-align: center;

}

#icon {
    width: 6rem;
    height: 6rem;
    padding: 0.25rem;
    display: block;
    float: right;
}

#quick-upload {
    font-weight: bold;
}

.hidden {
    display: none !important;
}
