@import url('../../ui-kit/tachyons.css');
@import url('heartbeat.css');

html, body, #root {
  height: 100%;
}

.hover-inner-shadow {
  transition: box-shadow 0.2s ease-in-out;
}
.hover-inner-shadow:hover {
  box-shadow: inset 0 0 10px 5px rgba(211, 235, 237, 0.2);
}
