@import url('../../../ui-kit/tachyons.css');
@import url('../heartbeat.css');
@import url('mdc.switch.css');

.bg-near-white--hover:hover {
  background-color: #F4F4F4;
}

.outline-0--focus:focus {
  outline: 0;
}

.fade-in {
  animation: fade-in 600ms;
}
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
