@import url('~tachyons/css/tachyons.css');
@import url('~ipfs-css/ipfs.css');

.hover-bg-aqua-muted:hover {
  background-color: #9ad4db;
}

.hover-bg-red-muted:hover {
  background-color: #f36149;
}

label:hover,
button:hover {
  cursor: pointer;
}
