@import url('/ui-kit/tachyons.css');
@import url('/ui-kit/ipfs.css');
html {
  overflow: hidden;
}
.is-chrome body {
  margin: 0;
  min-width: 650px;
  height: 450px;
  padding: 15px;
  overflow-y: auto;
}
form * {
  font: caption;
  font-size: 1em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
code {
  font-family: monospace;
}
fieldset {
  border: none;
  border-top: 3px solid #6BC4CE;
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}
legend {
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: .5em;
  font-weight: bold;
}
fieldset > div {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
fieldset > div + div {
  border-top: 1px solid #ccc;
}
fieldset > div > * {
  align-self: center;
}
label {
  flex: 1;
}
input[type=checkbox]:hover,
select:hover,
button:hover,
label:hover {
  cursor: pointer;
}
label > dl > dd {
  color: #888;
  margin-top: .2em;
  margin-left: 0;
  margin-right: .2em;
}
fieldset > div:hover {
  background-color: rgba(62, 148, 152, 0.05);
}
fieldset > div:hover > label > dl > dd {
  color: #333;
}
label a {
  color: #3B6177;
}
label a:hover {
  color: #073A53;
}
label a[href^="http"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfiBQIJABWXvYi2AAAAfklEQVQY05XPuw3CQBBF0YPZjHLINmDbAEEFliiACiBHcgWsXIcTSwSUQ4hEgD9LQMBEV/P0rmb4MYsZ993MOYURz93KceADqjE4pbtLoQpsJ8WmCCpotZZqUT+1wmj9rBtc5wa1h17jJaennKYgWmvchjMKFVH8ejDAzh/zBh37F0UDekL1AAAAAElFTkSuQmCC);
  padding-left: 0.25em;
}
input, textarea, select {
  flex: 1;
  padding: .5em;
  font-family: monospace;
}
#resetAllOptions {
  flex: 1;
  text-align: center;
}
input[type=text],
input[type=url],
input[type=number],
textarea,
select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  border: 1px solid #ccc;
}
input[type=checkbox]:focus,
input[type=checkbox]::-moz-focus-inner {
  border: 0;
  outline: none;
}
input[type=text]:focus,
input[type=url]:focus,
input[type=number]:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #3E9398;
  box-shadow: 0 0 5px #5FCBCF;
}
input:invalid {
  border: 1px solid red !important;
  background-color: #FFF0F0;
  box-shadow: 0 0 5px red !important;
  color: red;
  transition: box-shadow 0.3s;
}
