@import url('~tachyons/css/tachyons.css');
@import url('~ipfs-css/ipfs.css');
@import url('../pages/components/switch-toggle.css');

header {
  border-color: #69c4cd;
  text-transform: uppercase;
}
#header-logo {
  height: 50px;
  width: 117.5px;
}
form * {
  font-family: Inter,system-ui,sans-serif;
  font-size: 0.875rem;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
fieldset > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.5em;
}
fieldset > div + div {
  border-top: 1px solid #ccc;
}
label {
  flex: 1;
}
select:hover,
button:hover,
label:hover {
  cursor: pointer;
}
label > dl {
  margin-right: 2em;
}
label > dl > dt {
  font-weight: 600;
}
label > dl > dd {
  margin: .5em 0 .5em 0;
}
label a[href^="http"]:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="%2334373f" viewBox="20 12 60 70"><path d="M75.4 49.9c-.9 0-1.6.7-1.6 1.6v21.8c0 1.5-.6 2.9-1.7 4s-2.5 1.7-4 1.7h-40c-1.5 0-2.9-.6-4-1.7s-1.7-2.5-1.7-4v-40c0-1.5.6-2.9 1.7-4s2.5-1.7 4-1.7h21.8c.9 0 1.6-.7 1.6-1.6s-.7-1.6-1.6-1.6H28.1c-2.4 0-4.6.9-6.3 2.6-1.7 1.7-2.6 3.9-2.6 6.3v40c0 2.4.9 4.6 2.6 6.3 1.7 1.7 3.9 2.6 6.3 2.6h40c2.4 0 4.6-.9 6.3-2.6 1.7-1.7 2.6-3.9 2.6-6.3V51.5c0-.9-.7-1.6-1.6-1.6z"/><path d="M83.8 19.3V19v-.2-.2c0-.1-.1-.1-.1-.2 0 0 0-.1-.1-.1-.1-.1-.1-.2-.2-.2l-.2-.2s-.1 0-.1-.1l-.1-.1c-.1 0-.1 0-.2-.1H60.3c-.9 0-1.6.7-1.6 1.6s.7 1.6 1.6 1.6h17.9l-25.8 26c-.6.6-.6 1.7 0 2.3.3.3.7.5 1.1.5s.8-.2 1.1-.5l25.8-25.8v17.9c0 .9.7 1.6 1.6 1.6s1.6-.7 1.6-1.6l.2-21.9z"/></svg>');
  padding-left: 0.25em;
}
input, textarea, select {
  flex: 1;
  padding: .75em;
  font-family: Consolas, monaco, monospace;
}
select {
	appearance: none;
}

fieldset > div > div,
#resetAllOptions {
  flex: 1;
}
input[type=text],
input[type=url],
input[type=number],
select,
textarea
 {
  transition: all 0.30s ease-in-out;
  border-radius: 0.25rem;
  border: 1px solid #b7bbc8;
}

input:invalid {
  border: 1px solid #ea5037;
  background-color: #f36149;
}
.mdc-switch {
  display: block;
}

/* https://brave.com/brave-branding-assets/ */
.brave {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 218 256' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient id='c' y1='50.706%25' y2='50.706%25'%3E%3Cstop stop-color='%23f50' offset='0'/%3E%3Cstop stop-color='%23f50' offset='.40988'/%3E%3Cstop stop-color='%23FF2000' offset='.58198'/%3E%3Cstop stop-color='%23FF2000' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='2.1484%25' y1='50.706%25' y2='50.706%25'%3E%3Cstop stop-color='%23FF452A' offset='0'/%3E%3Cstop stop-color='%23FF2000' offset='1'/%3E%3C/linearGradient%3E%3Cpath id='a' d='m170.27 25.336-22.304-25.336h-39.168-39.168l-22.304 25.336s-19.584-5.4468-28.832 3.8128c0 0 26.112-2.3601 35.088 12.255 0 0 24.208 4.6298 27.472 4.6298s10.336-2.7234 16.864-4.9021c6.528-2.1787 10.88-2.1945 10.88-2.1945s4.352 0.015796 10.88 2.1945 13.6 4.9021 16.864 4.9021 27.472-4.6298 27.472-4.6298c8.976-14.615 35.088-12.255 35.088-12.255-9.248-9.2596-28.832-3.8128-28.832-3.8128'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-70 -350)'%3E%3Cg transform='translate(50 350)'%3E%3Cg transform='translate(20.114)'%3E%3Cpath d='m209.98 61.285 5.984-14.706s-7.616-8.1702-16.864-17.43c-9.248-9.2596-28.832-3.8128-28.832-3.8128l-22.304-25.336h-39.168-39.168l-22.304 25.336s-19.584-5.4468-28.832 3.8128c-9.248 9.2596-16.864 17.43-16.864 17.43l5.984 14.706-7.616 21.787s22.399 84.946 25.024 95.319c5.168 20.426 8.704 28.323 23.392 38.672s41.344 28.323 45.696 31.047 9.792 7.3625 14.688 7.3625 10.336-4.639 14.688-7.3625 31.008-20.698 45.696-31.047 18.224-18.247 23.392-38.672c2.6243-10.373 25.024-95.319 25.024-95.319l-7.616-21.787z' fill='url(%23c)'/%3E%3Cpath d='m164.02 41.404s28.688 34.723 28.688 42.145-3.6089 9.3799-7.2374 13.238c-3.6285 3.858-19.476 20.707-21.511 22.871-2.0351 2.164-6.2718 5.4446-3.7797 11.35s6.1684 13.419 2.0803 21.04c-4.0887 7.6212-11.093 12.708-15.581 11.867-4.488-0.84153-15.028-6.3564-18.904-8.8756s-16.161-12.663-16.161-16.545c0-3.8809 12.699-10.849 15.044-12.433 2.3468-1.5828 13.047-7.711 13.267-10.116 0.21869-2.4059 0.13546-3.1112-3.0225-9.0548-3.1579-5.9441-8.8449-13.876-7.8983-19.153 0.94656-5.2769 10.118-8.021 16.664-10.496 6.5443-2.4745 19.146-7.1484 20.72-7.875 1.5749-0.72715 1.168-1.4194-3.6013-1.8721-4.7682-0.45263-18.301-2.2512-24.402-0.54849-6.101 1.7027-16.524 4.2932-17.368 5.6669s-1.589 1.42-0.72189 6.1587c0.86659 4.7387 5.3307 27.477 5.7637 31.516 0.43357 4.0388 1.2811 6.7088-3.0682 7.7045-4.3498 0.99568-11.672 2.7245-14.188 2.7245s-9.8382-1.7288-14.188-2.7245c-4.3498-0.99568-3.5023-3.6657-3.0687-7.7045 0.43357-4.0388 4.8971-26.777 5.7642-31.516 0.86659-4.7387 0.12186-4.785-0.72189-6.1587-0.84429-1.3737-11.268-3.9642-17.369-5.6669-6.101-1.7027-19.633 0.095864-24.402 0.54849s-5.1756 1.1449-3.6013 1.8721c1.5743 0.7266 14.176 5.4005 20.72 7.875 6.5449 2.475 15.717 5.2191 16.664 10.496 0.94656 5.2774-4.741 13.209-7.8983 19.153-3.1579 5.9436-3.2417 6.6489-3.0225 9.0548 0.21869 2.4053 10.92 8.5335 13.266 10.116 2.3463 1.5834 15.044 8.552 15.044 12.433 0 3.8814-12.284 14.026-16.16 16.545s-14.416 8.034-18.904 8.8756c-4.488 0.84099-11.492-4.2458-15.581-11.867-4.0882-7.6212-0.41181-15.135 2.0797-21.04 2.4921-5.9049-1.7441-9.1855-3.7797-11.35-2.0346-2.1635-17.882-19.013-21.511-22.871-3.6285-3.858-7.2368-5.8166-7.2368-13.238s28.688-42.145 28.688-42.145 24.208 4.6298 27.472 4.6298 10.336-2.7234 16.864-4.9021c6.528-2.1787 10.88-2.1945 10.88-2.1945s4.352 0.015796 10.88 2.1945 13.6 4.9021 16.864 4.9021 27.472-4.6298 27.472-4.6298zm-21.507 132.82c1.7756 1.1133 0.69251 3.212-0.9248 4.3569-1.6179 1.1449-23.357 18-25.466 19.862-2.1102 1.8634-5.2104 4.9403-7.3184 4.9403s-5.2088-3.0769-7.3184-4.9403c-2.1102-1.8628-23.848-18.717-25.466-19.862-1.6179-1.1449-2.7004-3.2436-0.9248-4.3569 1.7762-1.1128 7.332-3.9217 14.999-7.8941 7.6655-3.9718 17.22-7.3488 18.711-7.3488s11.045 3.377 18.711 7.3488c7.666 3.9724 13.222 6.7813 14.998 7.8941z' fill='%23fff'/%3E%3Cmask fill='white'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='url(%23b)' xlink:href='%23a'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 1.5em;
  background-position: left 0.5em top 50%;
  background-repeat: no-repeat;
  padding-left: 2.5em;
}
input.brave {
  background-color: #f7f8fa;
}

